h1 {
    color: saddlebrown;
    font-style: helvetica;

}
h1 {
    text-align: center;
  }
header {background-color: red);}
body {background-color: red;}
#do-this {color:blue}
.variationer  {color:blueviolet; font-size: 25px;}